LifeLittleBlackBook(LLBB)/LLBB/LLBB/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LLBBServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LLBBServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfBlogContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlogContact" nillable="true" type="tns:BlogContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogContact" nillable="true" type="tns:ArrayOfBlogContact" />
  <xs:complexType name="BlogContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogContact" nillable="true" type="tns:BlogContact" />
  <xs:complexType name="BlogBudget">
    <xs:sequence>
      <xs:element minOccurs="0" name="BudgetBillExp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetEduExp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetFoodExp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetInternetExp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetMedicalExp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetMisExp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetNetIncome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetRIncome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetSourceOfIncome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogBudget" nillable="true" type="tns:BlogBudget" />
  <xs:complexType name="BlogEvents">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventYear" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogEvents" nillable="true" type="tns:BlogEvents" />
  <xs:complexType name="BlogNotes">
    <xs:sequence>
      <xs:element minOccurs="0" name="NotesDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotesDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notesnotes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogNotes" nillable="true" type="tns:BlogNotes" />
  <xs:complexType name="BlogUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserDOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserFName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserUName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogUser" nillable="true" type="tns:BlogUser" />
</xs:schema>