formApprovalUsingService/FormApproval/FormApproval/Connected Services/ServiceReference4/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56977/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56977/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56977/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPost_InputMessage">
    <wsdl:part name="parameters" element="tns:getPost" />
  </wsdl:message>
  <wsdl:message name="IService1_getPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPostlist_InputMessage">
    <wsdl:part name="parameters" element="tns:getPostlist" />
  </wsdl:message>
  <wsdl:message name="IService1_getPostlist_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPostlistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addPost_InputMessage">
    <wsdl:part name="parameters" element="tns:addPost" />
  </wsdl:message>
  <wsdl:message name="IService1_addPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Deletepost_InputMessage">
    <wsdl:part name="parameters" element="tns:Deletepost" />
  </wsdl:message>
  <wsdl:message name="IService1_Deletepost_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletepostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_savepost_InputMessage">
    <wsdl:part name="parameters" element="tns:savepost" />
  </wsdl:message>
  <wsdl:message name="IService1_savepost_OutputMessage">
    <wsdl:part name="parameters" element="tns:savepostResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPost" message="tns:IService1_getPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPostResponse" message="tns:IService1_getPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPostlist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPostlist" message="tns:IService1_getPostlist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPostlistResponse" message="tns:IService1_getPostlist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addPost" message="tns:IService1_addPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addPostResponse" message="tns:IService1_addPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deletepost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Deletepost" message="tns:IService1_Deletepost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletepostResponse" message="tns:IService1_Deletepost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="savepost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/savepost" message="tns:IService1_savepost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/savepostResponse" message="tns:IService1_savepost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPost">
      <soap:operation soapAction="http://tempuri.org/IService1/getPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPostlist">
      <soap:operation soapAction="http://tempuri.org/IService1/getPostlist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <soap:operation soapAction="http://tempuri.org/IService1/addPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deletepost">
      <soap:operation soapAction="http://tempuri.org/IService1/Deletepost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="savepost">
      <soap:operation soapAction="http://tempuri.org/IService1/savepost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:56977/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>