formApprovalUsingService/FormApproval/FormApproval/Connected Services/ServiceReference2/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Blogpost">
    <xs:sequence>
      <xs:element minOccurs="0" name="PostApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="PostDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Blogpost" nillable="true" type="tns:Blogpost" />
  <xs:complexType name="ArrayOfBlogpost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Blogpost" nillable="true" type="tns:Blogpost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogpost" nillable="true" type="tns:ArrayOfBlogpost" />
</xs:schema>